.container
  .row
    #status-box
      .well
        %span
          PokémonGo Server Status:
        %span#current-status-text{:class => @status.status}
          = @status.status.titleize
        %span#current-status-time
          = "Updated #{time_ago_in_words(@status.time)} ago."
  .row
    #report-box
      .well
        %p
          Describe the Pokémon Go server status
        = form_tag(reports_path, method: :post, remote: true) do |f|
          %button.btn.btn-success#report-up{:name => 'report_status', :value => 'up'}
            Working!
          %button.btn.btn-warning#report-intermittent{:name => 'report_status', :value => 'intermittent'}
            Intermittently working
          %button.btn.btn-danger#report-down{:name => 'report_status', :value => 'down'}
            Total Broken

  .row
    .col-md-6
      #past-statuses
        .well
          %h2
            Status History
          %table.table
            %tr
              %th
                Status
              %th
                Time
            - @statuses.each do |status|
              %tr
                %td
                  = status.status.titleize
                %td
                  = "#{time_ago_in_words(status.time)} ago"

    .col-md-6
      #reports
        .well
          %h2
            Real Time Status Reports

:javascript
  $(function() {
    console.log("In jquery ready");
  });
